Repository Falcion/PatternuGIT: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx prettier --write '*.{mts,ts,tsx}', npx eslint '*.{mts,ts,tsx}' --fix, npx ts-standard "*.{mts,ts,tsx}" --fix, npx prettier --write '**/*.d.ts', npx textlint *.md --fix, npx markdownlint-cli2 '!{CHANGELOG.md,node_modules/**,out/**}' '*.{md,mdown,markdown}' --fix, npm run gn-check, npm run gn-format, imagemin-lint-staged, stylelint --fix, prettier --write '*.css', node scripts/lint.js --patches --only --, ts-node scripts/js/check-patch-diff.ts, npx prettier '*.{yml,yaml}' --write, npx eslint '*.json' --fix

fix(mocha): convert config of mocha to esm
  .mocharc.js
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

chore: lint fix
  .editorconfig-checker.json
  .vscode/settings.json
  deployment.yml
  docs/markdown/community/HOW_TO_CONTRIBUTE.md
  package-lock.json
  package.json
  scripts/gen-filenames.ts
  tsconfig.json
Due: npx prettier '*.{yml,yaml}' --write, npx eslint '*.json' --fix

Update scripts/gen-filenames.ts
  scripts/gen-filenames.ts
Due: none

Update .changeset/.gitignore
  .changeset/.gitignore
Due: none

ci(eslint): install import-plugin for eslint, configure with it
  eslint.config.js
  package-lock.json
  package.json
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx eslint '*.json' --fix

chore(lint): force-push changes in JS&TS files
  .changeset/huge-cooks-speak.md
  package-lock.json
  package.json
  scripts/gen-filenames.ts
  scripts/js/check-patch-diff.ts
  scripts/js/gn-check.js
  scripts/js/utilities.ts
  scripts/lib/get-version.js
  scripts/lib/utils.js
  test/logger.test.ts
  test/module.test.ts
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx eslint '*.json' --fix

ci(eslint): implement gitignore import in eslint config
  .gitignore
  eslint.config.js
  jsconfig.json
  package-lock.json
  package.json
  tsconfig.json
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx eslint '*.json' --fix

ci(eslint): make eslint-plugin-n ignore type imports
  eslint.config.js
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

chore(lint): lint according files to the linter requirements
  index.ts
  scripts/gen-filenames.ts
  scripts/js/create-api-json.js
  typings/index.d.ts
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx prettier --write '**/*.d.ts'

chore: make an attempt to make eslint-plugin-n ignore test files
  eslint.config.js
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

chore(lint): another attempt to lint files for ESLINT
  test/logger.test.ts
  test/module.test.ts
Due: none

chore(scripts): update gen-filenames.ts
  scripts/gen-filenames.ts
Due: none

chore(changeset): update .gitignore
  .changeset/.gitignore
Due: none

ci(commitlint): append copilot as part of commitlint
  commitlint.config.mjs
  eslint.config.js
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

chore(release): 3.0.0
  CHANGELOG.md
  manifest.json
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

chore(release): 3.0.0
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  CHANGELOG.md
  UNSUPPORTED_VERSIONS.md
  versions-mapping.json
Due: npx prettier '*.{yml,yaml}' --write, npx eslint '*.json' --fix

build(deps-dev): migrate eslint typescript plugins
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

Path conditions:
  npx prettier --write '*.{mjs,js,jsx}': any of: *.{mjs,js,jsx}
  npx eslint '*.{mjs,js,jsx}' --fix: any of: *.{mjs,js,jsx}
  node scripts/lint.js --js --fix --only --: any of: *.{mjs,js,jsx}
  npx standard "*.{mjs,js,jsx}" --fix: any of: *.{mjs,js,jsx}
  npx prettier --write '*.{mts,ts,tsx}': any of: {!*.d.ts, *.{mts,ts,tsx}}
  npx eslint '*.{mts,ts,tsx}' --fix: any of: {!*.d.ts, *.{mts,ts,tsx}}
  npx ts-standard "*.{mts,ts,tsx}" --fix: any of: {!*.d.ts, *.{mts,ts,tsx}}
  npx prettier --write '**/*.d.ts': any of: *.d.ts
  npx textlint *.md --fix: any of: {!CHANGELOG.md, *.md}
  npx markdownlint-cli2 '!{CHANGELOG.md,node_modules/**,out/**}' '*.{md,mdown,markdown}' --fix: any of: {!CHANGELOG.md, *.md}
  npm run gn-check: any of: *.{gn,gni}
  npm run gn-format: any of: *.{gn,gni}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
  stylelint --fix: any of: *.css
  prettier --write '*.css': any of: *.css
  node scripts/lint.js --patches --only --: any of: {*.patch,.patches}
  ts-node scripts/js/check-patch-diff.ts: any of: {*.patch,.patches}
  npx prettier '*.{yml,yaml}' --write: any of: *.{yml,yaml}
  npx eslint '*.json' --fix: any of: *.json
