Repository Falcion/PatternuGIT: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint.js --js --fix --only --, prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts, npm run lint:docs, npm run gn-check, npm run gn-format, imagemin-lint-staged, stylelint --fix, prettier --write, node scripts/lint.js --patches --only --, ts-node scripts/js/check-patch-diff.ts

.lintstagedrc:

{
    "*.{js,jsx}": [
        "node scripts/lint.js --js --fix --only --",
        "prettier --list-different"
    ],
    "*.{ts,tsx}": [
        "eslint --fix",
        "prettier --list-different"
    ],
    "*.{js,ts,d.ts}": [
        "ts-node scripts/gen-filenames.ts"
    ],
    "*.md": [
        "prettier --list-different",
        "npm run lint:docs"
    ],
    "*.{gn,gni}": [
        "npm run gn-check",
        "npm run gn-format"
    ],
    "*.{png,jpeg,jpg,gif,svg}": "imagemin-lint-staged",
    "*.css": [
        "stylelint --fix",
        "prettier --write"
    ],
    "{*.patch,.patches}": [
        "node scripts/lint.js --patches --only --",
        "ts-node scripts/js/check-patch-diff.ts"
    ]
}

chore(editor): append EDITORCONFIG to any MD* files pattern
  .editorconfig
Due: none

build(husky): append HUSKY hooks and remove exiting at everything
  .husky/commit-hook
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

refactor(husky-docs): refactor README for HUSKY's troubleshooting guides
  .husky/README.md
Due: prettier --list-different, npm run lint:docs

docs(husky-docs): split HUSKY's documentation in submodules
  .husky/docs/common.md
  .husky/docs/h001.md
  .husky/docs/h127.md
Due: prettier --list-different, npm run lint:docs

chore(clear): remove empty package's JSON instances for moment
  package-lock.json
  package.json
Due: none

build(launch): add launch config to local VS-CODE setup
  .vscode/launch.json
Due: none

*
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
Due: prettier --list-different, npm run lint:docs

*
  .husky/README.md
  data/.labels-api.js
  data/.labels-import.js
  data/README.md
Due: node scripts/lint.js --js --fix --only --, prettier --list-different, ts-node scripts/gen-filenames.ts, npm run lint:docs

Create .gitattributes
  kubernetes/.gitattributes
Due: none

chore(empty-export): null export for WIP
  kubernetes/install.bat
  kubernetes/install.sh
Due: none

chore(wip): add wip files
  kubernetes/LICENSE
  kubernetes/LICENSE.md
  kubernetes/README.md
Due: prettier --list-different, npm run lint:docs

build(kubernetes): add Bat installation script for Kubernetes
  kubernetes/install.bat
Due: none

build(kubernetes): add Shell installation script for Kubernetes
  kubernetes/install.sh
Due: none

docs(kubernetes): add information file about binary execs of Kubernetes
  kubernetes/kubectl.exe.md
Due: prettier --list-different, npm run lint:docs

chore(grammar): little grammar fix in docs
  kubernetes/kubectl.exe.md
Due: prettier --list-different, npm run lint:docs

git(license): add Kubernetes license reference and information
  kubernetes/LICENSE
  kubernetes/LICENSE.md
  kubernetes/README.md
Due: prettier --list-different, npm run lint:docs

git(labels-data): add legacy web scripts to work with labels
  data/.labels-api.js
  data/.labels-import.js
Due: node scripts/lint.js --js --fix --only --, prettier --list-different, ts-node scripts/gen-filenames.ts

docs(labels-data): add special README about working with repository's data
  data/README.md
Due: prettier --list-different, npm run lint:docs

chore(linkfix): add direct link to probot.github.io
  data/README.md
Due: prettier --list-different, npm run lint:docs

git!(web-docs): add `.gitkeep` about web docs and storaging them
  docs/web/.gitkeep
Due: none

docs(git): add semver docs
  docs/markdown/conventions/SEMVER.md
Due: prettier --list-different, npm run lint:docs

chore(grammar): little grammar fix in docs
  docs/web/.gitkeep
Due: none

chore(kubernetes): differ Kubernetes installation scripts for platforms
  kubernetes/install-windows.bat
Due: none

build(kubernetes): add deinstallation scripts for Kubernetes
  kubernetes/deinstall-windows.bat
  kubernetes/deinstall.sh
Due: none

chore(docs): little refactoring in the SEMVER docs
  docs/markdown/conventions/SEMVER.md
Due: prettier --list-different, npm run lint:docs

docs(community): fork "BEST_PRACTICES_FOR_MAINTAINERS" document
  docs/markdown/community/BEST_PRACTICES_FOR_MAINTAINERS.md
Due: prettier --list-different, npm run lint:docs

docs(community): fork "BUILDING_WELCOMING_COMMUNITY" document
  docs/markdown/community/BUILDING_WELCOMING_COMMUNITY.md
Due: prettier --list-different, npm run lint:docs

docs(community): fork "HOW_TO_CONTRIBUTE_TO_OPEN_SOURCE" document
  docs/markdown/community/HOW_TO_CONTRIBUTE.md
Due: prettier --list-different, npm run lint:docs

docs(community): fork "LEADERSHIP_AND_GOVERNANCE" document
  docs/markdown/community/LEADERSHIP_AND_GOVERNANCE.md
Due: prettier --list-different, npm run lint:docs

docs(community): fork "STARTING_AN_OPEN_SOURCE_PROJECT" document
  docs/markdown/community/STARTING_PROJECT.md
Due: prettier --list-different, npm run lint:docs

chore(docs): add resources for documentation
  docs/markdown/community/image-1.png
  docs/markdown/community/image-2.png
  docs/markdown/community/image-3.png
  docs/markdown/community/image.png
Due: imagemin-lint-staged

git(codeowners): fix of #81
  .github/CODEOWNERS
Due: none

docs(github): fork and refactor CODE_OF_CONDUCT to new workflows
  .github/CODE_OF_CONDUCT.md
Due: prettier --list-different, npm run lint:docs

build(git): add `.gitconfig` with refactored and advanced configurations
  .github/.gitconfig
Due: none

docs(github): fork "Contribution guidelines" from unmerged tag
  .github/CONTRIBUTING.md
Due: prettier --list-different, npm run lint:docs

docs(github): fork 'Issue policy" from unmerged tag
  .github/ISSUE_POLICY.md
Due: prettier --list-different, npm run lint:docs

docs(issues): add universal default form for issues of other category
  .github/ISSUE_TEMPLATE.md
Due: prettier --list-different, npm run lint:docs

docs(community): add templates for issues and edited main config
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_question.yml
  .github/ISSUE_TEMPLATE/04_documentation_issue.yml
  .github/ISSUE_TEMPLATE/config.yml
Due: none
