Repository Falcion/PatternuGIT: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint.js --js --fix --only --, prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts, npm run lint:docs, npm run gn-check, npm run gn-format, imagemin-lint-staged, stylelint --fix, prettier --write, node scripts/lint.js --patches --only --, ts-node scripts/js/check-patch-diff.ts

docs(community): add templates for discussions and edited main config
  .github/DISCUSSION_TEMPLATE/01_general.yml
  .github/DISCUSSION_TEMPLATE/02_discussions.yml
  .github/DISCUSSION_TEMPLATE/03_accessibility.yml
  .github/DISCUSSION_TEMPLATE/README
Due: none

git(resources): add common resources for repository
  .github/images/icon-generic.png
  .github/images/icon.png
  .github/images/icon.svg
  .github/keys/0x9F46C30D-pub.asc
  .github/keys/0xY0PX1FG1-pub.asc
  .github/keys/README
Due: imagemin-lint-staged

docs(community): add "Governance model" to the repository
  .github/GOVERNANCE.md
Due: prettier --list-different, npm run lint:docs

chore(dependabot): add dependabot
  .github/dependabot.yml
Due: none

git(settings): add .gitattributes and .gitignore
  .gitattributes
  .gitattributes-readme
  .gitignore
  .gitignore-readme
Due: none

build(build-deps): fork and implement new version of Husky hooks
  .husky/README.md
  .husky/commit-hook
  .husky/commit-msg
  .husky/docs/common.md
  .husky/docs/h001.md
  .husky/docs/h127.md
  .husky/pre-commit
  .husky/pre-push
Due: prettier --list-different, npm run lint:docs

docs(community): add Pull requests policy
  .github/PULL_REQUEST_POLICY.md
Due: prettier --list-different, npm run lint:docs

chore(maintainers): add Maintainers and owners list
  .github/MAINTAINERS.ini
Due: none

build(workflows): intergrate Trufflehog OSS
  .github/workflows/trufflehog-oss.yml
Due: none

build(workflows): add workflow to CI Workflow (Skip duplicates)
  .github/workflows/skip-duplicates.yml
Due: none

build(workflows): add workflow for tag checking (fork from unmerged tags)
  .github/workflows/semantics.yml
Due: none

build(workflows): intergrate "Lint PR"
  .github/workflows/lint-pr.yml
Due: none

build(workflows): intergrate lint-staged in the repo
  .github/workflows/lint-action.yml
  .lintstagedrc
Due: none

build(workflows-deps): add labeler integration with it's plugin
  .github/labeler.yml
  .github/workflows/labeler-triage.yml
Due: none

build(workflows-deps): add GitHub Actions addons to workflows state
  .github/workflows/git-clearing.yml
  .github/workflows/git-stale.yml
Due: none

build(workflows): add Auto-approve and Auto-assign workflows
  .github/workflows/auto-approve.yml
  .github/workflows/auto-assign-issues.yml
  .github/workflows/auto-assign.yml
Due: none

build(workflows-deps): implement Docker Action as an addon
  .github/workflows/addons/docker.yml
Due: none

build(visualize): add common analytics and visualizers for the repository
  .github/workflows/analytics.yml
  .github/workflows/diagrams.yml
Due: none

chore(settings): update and fork in JSON format rulesets and settings for the repository
  .github/settings.json
  .github/settings.yml
Due: none

docs(community): fork Pull request template and fix of #89
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --list-different, npm run lint:docs

docs(community): fork Security policy
  .github/SECURITY.md
Due: prettier --list-different, npm run lint:docs

build(build-env): add list of required apps for workflows and repository
  .github/workflows/.required-apps.rc.json
Due: none

docs(github): add Issue triage policy
  docs/markdown/additional/ISSUE_TRIAGE.md
Due: prettier --list-different, npm run lint:docs

docs(github): add Commit convention policy (Conventional commits)
  docs/markdown/conventions/COMMIT_CONVENTION.md
Due: prettier --list-different, npm run lint:docs

feat(common): add .BAT and .SH scripts instead of old .TS file
  .prepare.bat
  .prepare.sh
Due: none

feat(main): refactor and fork entire previous script into JS submodule
  .prepare-template.js
Due: node scripts/lint.js --js --fix --only --, prettier --list-different, ts-node scripts/gen-filenames.ts

build(editor): add VS Code presets
  .vscode/launch.json
  .vscode/settings.json
Due: none

feat(build-deps): add lint-staged, editorconfig and revamped package to new environment
  package.json
Due: none

chore(fork): fork past common files from unmerged or old tags
  .commitlintrc.json
  .dockerignore
  .editorconfig
  .eslintignore
  .eslintrc
  .eslintrc.cjs
  .markdownlint.autofix.json
  .markdownlint.json
  .npmrc
  .nvmrc
  .prettierignore
  .prettierrc
  .remarkrc
  .versionrc.json
  CHANGELOG.md
  Dockerfile
  LICENSE
  LICENSE.md
  README
  README.md
  UNSUPPORTED_VERSIONS.md
  codeql-analytics.txt
  deployment.yml
  docker-compose.yml
  esbuild.config.mjs
  jsconfig.json
  manifest.json
  service.yaml
  tsconfig.json
  tsconfig.script.json
  tsconfig.spec.json
Due: prettier --list-different, npm run lint:docs

fix(typescript-modules): fix ESM modulation and tsconfig specs errors
  .prepare-template.js
  package.json
  prepare-template.ts
  prepare.bat
  prepare.sh
  tsconfig.json
Due: node scripts/lint.js --js --fix --only --, prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts

feat(roadmap): update roadmap with current version of the repository
  README.md
Due: prettier --list-different, npm run lint:docs

chore(release): 2.0.0
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --list-different, npm run lint:docs

build(scripts): fork scripts folder and implement them in the infrastructure
  scripts/.eslintrc.json
  scripts/README
  scripts/js/analytics-workflow.ts
  scripts/js/check-patch-diff.ts
  scripts/js/create-api-json.js
  scripts/js/generate-version-json.js
  scripts/js/gn-asar-hash.js
  scripts/js/gn-asar.js
  scripts/js/gn-check.js
  scripts/js/labels-api.js
  scripts/js/labels-import.js
  scripts/lint.js
  scripts/patcher.js
  scripts/python/.gitignore
  scripts/python/clonesource.py
  scripts/python/git-export-patches.py
  scripts/python/git-import-patches.py
  scripts/python/lib/git.py
  scripts/python/lib/patches.py
  scripts/python/pack.py
  scripts/python/run-clang-format.py
  scripts/python/run-clang-tidy.py
  scripts/python/run-gn-format.py
  scripts/shell/publish-npm.ps1
  scripts/shell/publish-npm.sh
  scripts/shell/publish-nuget.ps1
  scripts/shell/publish-nuget.sh
  scripts/spec-runner.js
Due: node scripts/lint.js --js --fix --only --, prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts

fix(docs): fix unsupported versions file, fix of #164
  UNSUPPORTED_VERSIONS.md
Due: prettier --list-different, npm run lint:docs

fix(workflows): fix of #168
  .github/workflows/lint-action.yml
  images/.gitkeep
Due: none

*
  package.json
Due: none

chore(release): 2.1.0
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --list-different, npm run lint:docs

fix(workflows): fix auto-assign workflow of #170
  .github/workflows/auto-assign.yml
Due: none

Repo visualizer: update diagram
  images/diagram.svg
Due: imagemin-lint-staged

Path conditions:
  node scripts/lint.js --js --fix --only --: any of: *.{js,jsx}
  prettier --list-different: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.md)
  eslint --fix: any of: *.{ts,tsx}
  ts-node scripts/gen-filenames.ts: any of: *.{js,ts,d.ts}
  npm run lint:docs: any of: *.md
  npm run gn-check: any of: *.{gn,gni}
  npm run gn-format: any of: *.{gn,gni}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.css
  node scripts/lint.js --patches --only --: any of: {*.patch,.patches}
  ts-node scripts/js/check-patch-diff.ts: any of: {*.patch,.patches}
