Repository Falcion/PatternuGIT: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint.js --js --fix --only --, prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts, npm run lint:docs, npm run gn-check, npm run gn-format, imagemin-lint-staged, stylelint --fix, prettier --write, node scripts/lint.js --patches --only --, ts-node scripts/js/check-patch-diff.ts

.lintstagedrc:

{
    "*.{js,jsx}": [
        "node scripts/lint.js --js --fix --only --",
        "prettier --list-different"
    ],
    "*.{ts,tsx}": [
        "eslint --fix",
        "prettier --list-different"
    ],
    "*.{js,ts,d.ts}": [
        "ts-node scripts/gen-filenames.ts"
    ],
    "*.md": [
        "prettier --list-different",
        "npm run lint:docs"
    ],
    "*.{gn,gni}": [
        "npm run gn-check",
        "npm run gn-format"
    ],
    "*.{png,jpeg,jpg,gif,svg}": "imagemin-lint-staged",
    "*.css": [
        "stylelint --fix",
        "prettier --write"
    ],
    "{*.patch,.patches}": [
        "node scripts/lint.js --patches --only --",
        "ts-node scripts/js/check-patch-diff.ts"
    ]
}

Repo visualizer: update diagram
  images/diagram.svg
Due: imagemin-lint-staged

fix(common): fix calling errors in main script and add definitions
  prepare-template.d.ts
  prepare-template.ts
Due: prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts

build(linting): appended some linting and fix linters behaviour
  scripts/gen-filenames.ts
Due: prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts

fix(definitions): fix definitions check of linters causing errors
  .lintstagedrc
Due: none

fix(package): append node and npm requirements and append to latest linters
  package.json
Due: none

refactor(docs): refactored docs accordingly to linters
  CHANGELOG.md
  LICENSE.md
  README.md
  docs/markdown/conventions/SEMVER.md
Due: prettier --list-different, npm run lint:docs

chore(linters): update linters to last semantics and usage abilities
  .lintstagedrc
  .markdownlint.json
Due: none

chore(release): 2.1.1
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --list-different, npm run lint:docs

chore(deletion): temp-delete linter from repository
  .github/workflows/lint-action.yml
Due: none

build(dependency-tests): add dependency tests and build for Node.js env of project
  .github/workflows/build.yml
Due: none

chore(release): 2.1.2
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --list-different, npm run lint:docs

fix(build-tests): add early Python setup for prepare scripts
  .github/workflows/build.yml
Due: none

refactor(package): change prepare script to support .SH environments
  package.json
Due: none

fix(build-env): fix build environment to new file typings and names
  esbuild.config.mjs
  manifest.json
  package.json
Due: none

feat(prepare): rewrite prepare script to semiold style of work process
  prepare-template.ts
Due: prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts

docs(jsdocs): add documentatin in the code
  prepare-template.ts
Due: prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts

chore(build-tests): fix skipped step of installing dependencies in the workflow
  .github/workflows/build.yml
Due: none

fix(node): try to fix setup@node in the workflow
  .github/workflows/build.yml
  package.json
Due: none

fix(imports): fix imports in main script
  prepare-template.ts
Due: prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts

fix(imports): semantic fix imports in main script and package
  package.json
  prepare-template.ts
Due: prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts

feat(script): add JS version of main preparation script
  prepare-template.js
Due: node scripts/lint.js --js --fix --only --, prettier --list-different, ts-node scripts/gen-filenames.ts

chore(release): 2.1.3
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --list-different, npm run lint:docs

build(build-deps): add github-wiki-sidebar package for wiki's development
  package.json
Due: none

fix(yaml): fix yaml language server problem in templates
  .github/ISSUE_TEMPLATE/01_bug_report.yml
Due: none

fix(script): fix ESLINT (self-assign) in preparation script
  prepare-template.ts
Due: prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts

chore(release): 2.1.4
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --list-different, npm run lint:docs

fix(optimization): now build-check workflow uses CI command instead default install
  .github/workflows/build.yml
Due: none

fix(optimization): add optimization to the build-check within package-lock and CI command
  .github/workflows/build.yml
Due: none

feat(changesets): integrate changesets into repository's infrastructure
  .changeset/config.json
  package.json
Due: none

chore(release): v2.1.5
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --list-different, npm run lint:docs
