Repository Falcion/PatternuGIT: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx prettier --write '*.{mts,ts,tsx}', npx eslint '*.{mts,ts,tsx}' --fix, npx ts-standard "*.{mts,ts,tsx}" --fix, npx prettier --write '**/*.d.ts', npx textlint *.md --fix, npx markdownlint-cli2 '!{CHANGELOG.md,node_modules/**,out/**}' '*.{md,mdown,markdown}' --fix, npm run gn-check, npm run gn-format, imagemin-lint-staged, stylelint --fix, prettier --write '*.css', node scripts/lint.js --patches --only --, ts-node scripts/js/check-patch-diff.ts, npx prettier '*.{yml,yaml}' --write, npx eslint '*.json' --fix

fix(settings): append null objects for settings app to work
  .github/settings.yml
Due: npx prettier '*.{yml,yaml}' --write

fix(husky): ignore husky's native files from the work tree
  .husky/.gitignore
Due: none

build(bash-exec): remove bash-exec scripts from default workflow
  .husky/pre-commit
  chmod.sh
  kubernetes/deinstall.sh
  kubernetes/install.sh
  prepare.sh
  scripts/shell/publish-npm.sh
  scripts/shell/publish-nuget.sh
Due: none

chore: fix exec-bit
  .husky/pre-commit
  chmod.sh
  kubernetes/deinstall.sh
  kubernetes/install.sh
  prepare.sh
  scripts/shell/publish-npm.sh
  scripts/shell/publish-nuget.sh
Due: none

build(lint-staged): fix glob pattern and prevent pattern errors
  .lintstagedrc
  .prettierignore
  package.json
Due: npx eslint '*.json' --fix

build(lint-staged): revamp lint-staged system to new config and hooks
  .editorconfig
  .lintstagedrc
  .lintstagedrc.mjs
  .textlintignore
  .textlintrc.json
  package.json
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx eslint '*.json' --fix

chore: lint entry files of the repository, aftermath of lint-staged fix
  .github/PHILOSOPHY.md
  .github/PULL_REQUEST_POLICY.md
  .github/RELEASE_NOTES_TEMPLATE.md
  .github/RELEASE_TEMPLATE.md
  .github/rules/ruleset-main_.json
  .github/rules/ruleset-tags-create.json
  .github/rules/ruleset-tags-delete.json
  .husky/docs/common.md
  REFERENCES.md
  chmod-scripts.md
  release/data/PATTERN.md
Due: npx eslint '*.json' --fix

feat!(main): revamp entire preparation script
  .husky/pre-commit
  .mocha.mjs
  .mocharc.mjs
  chmod-scripts.mjs
  esbuild.config.mjs
  index.js
  index.ts
  package.json
  prepare-template.ts
  scripts/gen-filenames.ts
  scripts/js/labels-import.js
  scripts/js/utilities.ts
  scripts/patcher.js
  test/logger.test.ts
  test/module.test.ts
  tsconfig.spec.json
  typings/index.d.ts
  typings/prepare-template.d.ts
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx prettier --write '**/*.d.ts', npx eslint '*.json' --fix

chore(appending): return previous packages
  .textlintrc.json
  package.json
Due: npx eslint '*.json' --fix

chore: append previous husky hooks
  .husky/pre-commit
Due: none

fix(flat-config): fix flat config of lint-staged
  .lintstagedrc.mjs
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

fix(esbuild): fix flat esbuild config namings
  esbuild.config.mjs
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

chore(fixes): fix of jscpd and markdownlint issues
  .husky/docs/common.md
  .markdownlint.json
  index.js
  index.ts
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx eslint '*.json' --fix

chore: fix markdownlint issues
  .editorconfig
  .github/PULL_REQUEST_POLICY.md
  .husky/README.md
Due: none

chore: append config of textlint to correct case
  .textlintrc.json
Due: npx eslint '*.json' --fix

build(ci-cd): add mocha.js ci to test index
  .github/workflows/build-tests.yml
Due: npx prettier '*.{yml,yaml}' --write

chore(deps-ci): append better ci output for test
  package.json
Due: npx eslint '*.json' --fix

chore(release): 2.5.0
  CHANGELOG.md
  manifest.json
  package.json
Due: npx eslint '*.json' --fix

chore(release): 2.5.0
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  CHANGELOG.md
  UNSUPPORTED_VERSIONS.md
  release/changes/v2.5.0.md
Due: npx prettier '*.{yml,yaml}' --write

chore: append package.lock for CIs
  .gitignore
  package-lock.json
Due: npx eslint '*.json' --fix

chore(fix): revamp issues with paths in mocha.js CI tests
  index.ts
  test/module.test.ts
Due: none

chore: append release hard-note before release itself
  release/changes/v2.5.0.md
Due: none

chore: fix jscpd issue with exact this file
  release/changes/v2.5.0.md
Due: none

feat(commitlint): expand and fix ignore config of commitlint
  commitlint.config.mjs
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

chore(fix): update and expand range of commits by dependabot
  commitlint.config.mjs
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

fix!(security): remove security issue CVE-2025-47287
  scripts/python/requirements.txt
Due: none

fix(security): remove security issue CVE-2025-27516
  scripts/python/requirements.txt
Due: none

fix(security): remove security issue CVE-2022-33987
  package-lock.json
Due: npx eslint '*.json' --fix

fix(security): remove security issue CVE-2021-23566
  package-lock.json
Due: npx eslint '*.json' --fix

chore(package): remove external dependencies, update package-lock
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

chore(dependabot): append message filters for commitlint
  commitlint.config.mjs
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

chore: fix issues with lock by installing packages and ci-installation
  package-lock.json
Due: npx eslint '*.json' --fix

feat(commitlint): append with more rules for commitlint
  commitlint.config.mjs
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

fix(security): append fix for severity CVE-2025-30167
  scripts/python/requirements.txt
Due: none

feat(dependabot): advance dependabot's config
  .github/dependabot.yml
Due: npx prettier '*.{yml,yaml}' --write

feat(commitlint): append commitlint config for dependabot
  commitlint.config.mjs
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

chore(release): 2.5.1
  CHANGELOG.md
  manifest.json
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

chore(release): 2.5.1
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  CHANGELOG.md
  UNSUPPORTED_VERSIONS.md
  release/changes/v2.5.1.md
  versions-mapping.json
Due: npx prettier '*.{yml,yaml}' --write, npx eslint '*.json' --fix

chore: post-release changelog
  release/changes/v2.5.1.md
Due: none

chore: fix JSCPD with changelog
  release/changes/v2.5.1.md
Due: none

Path conditions:
  npx prettier --write '*.{mjs,js,jsx}': any of: *.{mjs,js,jsx}
  npx eslint '*.{mjs,js,jsx}' --fix: any of: *.{mjs,js,jsx}
  node scripts/lint.js --js --fix --only --: any of: *.{mjs,js,jsx}
  npx standard "*.{mjs,js,jsx}" --fix: any of: *.{mjs,js,jsx}
  npx prettier --write '*.{mts,ts,tsx}': any of: {!*.d.ts, *.{mts,ts,tsx}}
  npx eslint '*.{mts,ts,tsx}' --fix: any of: {!*.d.ts, *.{mts,ts,tsx}}
  npx ts-standard "*.{mts,ts,tsx}" --fix: any of: {!*.d.ts, *.{mts,ts,tsx}}
  npx prettier --write '**/*.d.ts': any of: *.d.ts
  npx textlint *.md --fix: any of: {!CHANGELOG.md, *.md}
  npx markdownlint-cli2 '!{CHANGELOG.md,node_modules/**,out/**}' '*.{md,mdown,markdown}' --fix: any of: {!CHANGELOG.md, *.md}
  npm run gn-check: any of: *.{gn,gni}
  npm run gn-format: any of: *.{gn,gni}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
  stylelint --fix: any of: *.css
  prettier --write '*.css': any of: *.css
  node scripts/lint.js --patches --only --: any of: {*.patch,.patches}
  ts-node scripts/js/check-patch-diff.ts: any of: {*.patch,.patches}
  npx prettier '*.{yml,yaml}' --write: any of: *.{yml,yaml}
  npx eslint '*.json' --fix: any of: *.json
