Repository Falcion/PatternuGIT: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write '*.{js,jsx}', node scripts/lint.js --js --fix --only --, npx eslint --fix, npx prettier --write '*.{ts,tsx}', npx prettier --write '*.{js,ts,d.ts}', npx prettier --write '{!CHANGELOG.md, *.md}', npm run gn-check, npm run gn-format, imagemin-lint-staged, stylelint --fix, prettier --write '*.css', node scripts/lint.js --patches --only --, ts-node scripts/js/check-patch-diff.ts

.lintstagedrc:

{
    "*.{js,jsx}": [
        "npx prettier --write '*.{js,jsx}'",
        "node scripts/lint.js --js --fix --only --"
    ],
    "*.{ts,tsx}": [
        "npx eslint --fix",
        "npx prettier --write '*.{ts,tsx}'"
    ],
    "*.{js,ts,d.ts}": [
        "npx prettier --write '*.{js,ts,d.ts}'"
    ],
    "{!CHANGELOG.md, *.md}": [
        "npx prettier --write '{!CHANGELOG.md, *.md}'"
    ],
    "*.{gn,gni}": [
        "npm run gn-check",
        "npm run gn-format"
    ],
    "*.{png,jpeg,jpg,gif,svg}": "imagemin-lint-staged",
    "*.css": [
        "stylelint --fix",
        "prettier --write '*.css'"
    ],
    "{*.patch,.patches}": [
        "node scripts/lint.js --patches --only --",
        "ts-node scripts/js/check-patch-diff.ts"
    ]
}

fix(lint): attempt to fix EDITORCONFIG and MARKDOWNLINT for linter
  .editorconfig
  .gitattributes
Due: none

fix(lint): attempt to fix TYPESCRIPT and JAVASCRIPT for linter
  .editorconfig
  .eslintignore
  .eslintrc
  .eslintrc.cjs
  .github/workflows/lint.yml
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  chmod-scripts.js
  esbuild.config.mjs
  eslint.config.mjs
  package.json
  prepare-template.js
  prepare-template.ts
  scripts/gen-filenames.ts
  scripts/js/analytics-workflow.ts
  scripts/js/check-patch-diff.ts
  scripts/js/create-api-json.js
  scripts/js/generate-version-json.js
  scripts/js/gn-asar-hash.js
  scripts/js/gn-asar.js
  scripts/js/gn-check.js
  scripts/js/labels-api.js
  scripts/js/labels-import.js
  scripts/lib/utils.js
  scripts/lint.js
  scripts/patcher.js
  scripts/spec-runner.js
Due: npx prettier --write '*.{js,jsx}', node scripts/lint.js --js --fix --only --, npx eslint --fix, npx prettier --write '*.{ts,tsx}', npx prettier --write '*.{js,ts,d.ts}'

fix(lint): attempt to fix NATURAL_LANGUAGE for linter
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  .husky/README.md
  .husky/docs/common.md
  .lintstagedrc
  .textlintignore
  .textlintrc.json
  README.md
  docs/markdown/additional/ISSUE_TRIAGE.md
  docs/markdown/community/BEST_PRACTICES_FOR_MAINTAINERS.md
  docs/markdown/community/BUILDING_WELCOMING_COMMUNITY.md
  docs/markdown/community/HOW_TO_CONTRIBUTE.md
  docs/markdown/community/LEADERSHIP_AND_GOVERNANCE.md
  docs/markdown/community/STARTING_PROJECT.md
  docs/markdown/conventions/COMMIT_CONVENTION.md
  docs/markdown/conventions/SEMVER.md
  kubernetes/LICENSE.md
  package.json
  release/VERSION_MAPPING.md
Due: none

chore(linting): linting fix of D.TS files
  prepare-template.d.ts
Due: npx eslint --fix, npx prettier --write '*.{ts,tsx}', npx prettier --write '*.{js,ts,d.ts}'

chore(ecrc): set up EDITORCONFIG params to linter
  .ecrc
  .editorconfig-checker.json
Due: none

chore(prettier-lint): sync prettier lint
  .checkov.yaml
  .commitlintrc.json
  .eslintrc.cjs
  .markdownlint.autofix.json
  .markdownlint.json
  .versionrc.json
  CHANGELOG.md
  LICENSE.md
  README
  README.md
  deployment.yml
  docker-compose.yml
  esbuild.config.mjs
  eslint.config.mjs
  jsconfig.json
  manifest.json
  package.json
  service.yaml
  tsconfig.json
  tsconfig.script.json
  tsconfig.spec.json
  versions-mapping.json
Due: none

chore(linting): linting fix of JS files
  .eslintrc.cjs
  .lintstagedrc
  chmod-scripts.js
  esbuild.config.mjs
  eslint.config.mjs
  scripts/js/create-api-json.js
  scripts/js/generate-version-json.js
  scripts/js/gn-asar-hash.js
  scripts/js/gn-asar.js
  scripts/js/gn-check.js
  scripts/patcher.js
Due: npx prettier --write '*.{js,jsx}', node scripts/lint.js --js --fix --only --, npx prettier --write '*.{js,ts,d.ts}'

chore(linting): linting fix of MARKDOWN_PRETTIER files
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/GOVERNANCE.md
  .github/ISSUE_POLICY.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_POLICY.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/SECURITY.md
  .husky/README.md
  .husky/docs/common.md
  .husky/docs/h001.md
  .husky/docs/h127.md
  .lintstagedrc
  data/README.md
  docs/markdown/additional/ISSUE_TRIAGE.md
  docs/markdown/community/BEST_PRACTICES_FOR_MAINTAINERS.md
  docs/markdown/community/BUILDING_WELCOMING_COMMUNITY.md
  docs/markdown/community/HOW_TO_CONTRIBUTE.md
  docs/markdown/community/LEADERSHIP_AND_GOVERNANCE.md
  docs/markdown/community/STARTING_PROJECT.md
  docs/markdown/conventions/COMMIT_CONVENTION.md
  docs/markdown/conventions/SEMVER.md
  kubernetes/LICENSE.md
  kubernetes/README.md
  kubernetes/kubectl.exe.md
  release/VERSION_MAPPING.md
Due: none

chore(linting): linting fix of PRETTIER files
  .changeset/config.json
  .github/DISCUSSION_TEMPLATE/01_general.yml
  .github/DISCUSSION_TEMPLATE/02_discussions.yml
  .github/DISCUSSION_TEMPLATE/03_accessibility.yml
  .github/DISCUSSION_TEMPLATE/README
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_question.yml
  .github/ISSUE_TEMPLATE/04_documentation_issue.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .github/keys/README
  .github/settings.json
  .github/settings.yml
  .github/workflows/.required-apps.rc.json
  .github/workflows/addons/docker.yml
  .github/workflows/analytics.yml
  .github/workflows/auto-approve.yml
  .github/workflows/auto-assign-issues.yml
  .github/workflows/auto-assign.yml
  .github/workflows/build.yml
  .github/workflows/diagrams.yml
  .github/workflows/git-clearing.yml
  .github/workflows/git-stale.yml
  .github/workflows/labeler-triage.yml
  .github/workflows/lint-pr.yml
  .github/workflows/lint.yml
  .github/workflows/semantics.yml
  .github/workflows/skip-duplicates.yml
  .github/workflows/trufflehog-oss.yml
  .vscode/launch.json
  .vscode/settings.json
  README
  scripts/.eslintrc.json
  scripts/README
Due: none

chore(fix): fix linter and eslint config, add some scripts to them
  chmod-scripts.js
  docs/markdown/additional/ISSUE_TRIAGE.md
  eslint.config.mjs
  package.json
  scripts/gen-filenames.ts
  scripts/js/gn-check.js
  scripts/js/labels-import.js
Due: npx prettier --write '*.{js,jsx}', node scripts/lint.js --js --fix --only --, npx eslint --fix, npx prettier --write '*.{ts,tsx}', npx prettier --write '*.{js,ts,d.ts}'

chore(linting): lint another Prettier JS
  .prettierrc
  prepare-template.d.ts
  prepare-template.js
  prepare-template.ts
  scripts/gen-filenames.ts
  scripts/js/analytics-workflow.ts
  scripts/js/check-patch-diff.ts
  scripts/js/gn-asar-hash.js
  scripts/js/gn-check.js
  scripts/js/labels-api.js
  scripts/js/labels-import.js
  scripts/lib/utils.js
  scripts/lint.js
  scripts/patcher.js
Due: npx prettier --write '*.{js,jsx}', node scripts/lint.js --js --fix --only --, npx eslint --fix, npx prettier --write '*.{ts,tsx}', npx prettier --write '*.{js,ts,d.ts}'

feat(lint): add JSONC linter
  .github/workflows/lint.yml
  eslint.config.mjs
  package.json
Due: none

chore: checking on prettier versus standard in JS formatting
  .lintstagedrc
  chmod-scripts.js
  scripts/js/create-api-json.js
  scripts/js/generate-version-json.js
  scripts/js/gn-asar.js
  scripts/js/gn-check.js
  scripts/js/labels-import.js
  scripts/patcher.js
Due: npx prettier --write '*.{js,jsx}', node scripts/lint.js --js --fix --only --, npx prettier --write '*.{js,ts,d.ts}'

chore: trying to cross-integrate prettier, eslint and standard.js
  eslint.config.mjs
  package.json
Due: none

chore: trying to cross-integrate prettier, eslint and standard.js
  .eslintrc.cjs
  .prettierrc
  chmod-scripts.js
  eslint.config.mjs
  package.json
  prepare-template.js
  scripts/js/create-api-json.js
  scripts/js/generate-version-json.js
  scripts/js/gn-asar.js
  scripts/js/gn-check.js
  scripts/js/labels-api.js
  scripts/js/labels-import.js
  scripts/lib/utils.js
  scripts/lint.js
  scripts/patcher.js
Due: npx prettier --write '*.{js,jsx}', node scripts/lint.js --js --fix --only --, npx prettier --write '*.{js,ts,d.ts}'

chore: another tweak in eslint
  eslint.config.mjs
Due: none

chore: add reverse-migration for eslint v8 of super-linter
  .eslintrc.cjs
  eslint.config.mjs
Due: none

chore: update within linter
  .eslintrc.cjs
  eslint.config.mjs
Due: none

chore: add missing ref to config files of eslint
  .github/workflows/lint.yml
Due: none

chore: make eslint config edge-cases for linters
  .eslintrc.cjs
Due: none

chore: some tweaks for the linters
  .eslintrc.cjs
  package.json
  prepare-template.ts
  scripts/gen-filenames.ts
Due: npx eslint --fix, npx prettier --write '*.{ts,tsx}', npx prettier --write '*.{js,ts,d.ts}'

chore: some tweaks for the linters
  .eslintrc.cjs
Due: none

chore: remain types for prettier in lintstagedrc
  .lintstagedrc
Due: none

chore: remain types for prettier in lintstagedrc
  .eslintrc.cjs
  package.json
  prepare-template.ts
Due: npx eslint --fix, npx prettier --write '*.{ts,tsx}', npx prettier --write '*.{js,ts,d.ts}'

chore: remain types for prettier in lintstagedrc
  .eslintrc
  .eslintrc.cjs
  .lintstagedrc
  package.json
Due: none

chore: fix eslint config (more older version)
  .github/workflows/lint.yml
Due: none

chore: fix eslint config (more older version)
  .eslintrc.cjs
  .eslintrc.json
  .github/workflows/lint.yml
Due: none

chore: playing and adjusting validations and eslint's configs
  .eslintrc.cjs
  .github/workflows/lint.yml
  .lintstagedrc
Due: none

chore: tweaks-and-tries to fix linting errors
  .eslintrc.cjs
  .github/PULL_REQUEST_POLICY.md
  .github/workflows/lint.yml
  .husky/docs/common.md
  .markdownlint.json
  docs/markdown/community/BEST_PRACTICES_FOR_MAINTAINERS.md
  docs/markdown/conventions/COMMIT_CONVENTION.md
  docs/markdown/conventions/SEMVER.md
Due: none

chore: multiple checks and tweaks to infrastructure (try to fix)
  .eslintrc.cjs
  .husky/docs/common.md
  .lintstagedrc
  .textlintrc.json
  deployment.yml
  docs/markdown/conventions/SEMVER.md
  package.json
Due: none

chore: debug error of super-linter with textlint config
  .textlintrc.json
Due: none

fix(lint): implement fixes by linter for PYTHON and etc.
  .editorconfig
  .eslintrc.cjs
  .eslintrc.json
  .github/workflows/lint.yml
  .textlintrc.json
  eslint.config.mjs
  package.json
  scripts/python/.pylintrc
  scripts/python/README.md
  scripts/python/clonesource.py
  scripts/python/git-export-patches.py
  scripts/python/git-import-patches.py
  scripts/python/lib/git.py
  scripts/python/lib/patches.py
  scripts/python/mypy.ini
  scripts/python/pack.py
  scripts/python/pyproject.toml
  scripts/python/requirements.txt
  scripts/python/run-clang-format.py
  scripts/python/run-clang-tidy.py
  scripts/python/run-gn-format.py
  scripts/python/setup.cfg
  scripts/python/update_versions_table.py
Due: none

Update lint.yml
  .github/workflows/lint.yml
Due: none

fix(labels): fix of #190, add new labels
  .github/settings.yml
Due: none

chore: revert changes in lint action and update node in Node CI workflow
  .github/workflows/build.yml
  .github/workflows/lint.yml
Due: none

chore: try to fix dependencies of PYTHON
  scripts/python/requirements.txt
Due: none
