Repository Falcion/PatternuGIT: changes, and which lint-staged commands are due for each by the changed paths.
All: node scripts/lint.js --js --fix --only --, prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts, npm run lint:docs, npm run gn-check, npm run gn-format, imagemin-lint-staged, stylelint --fix, prettier --write, node scripts/lint.js --patches --only --, ts-node scripts/js/check-patch-diff.ts

Repo visualizer: update diagram
  images/diagram.svg
Due: imagemin-lint-staged

chore(gitignore): implement gitignore for common changesets
  .changeset/.gitignore
Due: none

chore(lintfix): add ignoring CHANGELOG for lintstaged, so it wouldn't crash
  .lintstagedrc
Due: none

chore(release): 2.1.6
  CHANGELOG.md
  manifest.json
  package.json
Due: prettier --list-different, npm run lint:docs

chore(cli-fix): reimplement scripts logic for CLI working processes
  package.json
Due: none

revert 53a8e5b
  .github/workflows/build.yml
Due: none

Update lint-pr.yml
  .github/workflows/lint-pr.yml
Due: none

fix(docs): fix changelog and it's tag policies and order
  CHANGELOG.md
Due: prettier --list-different, npm run lint:docs

build(build-feats): add linter again to the repository
  .github/workflows/lint.yml
Due: none

feat(versioning): add scripts and ecosystem to automate versioning and etc.
  UNSUPPORTED_VERSIONS.md
  release/VERSION_MAPPING.md
  scripts/python/update_versions_table.py
  versions-mapping.json
Due: prettier --list-different, npm run lint:docs

chore(linting): append linting and add syncing releases table to the release scripts
  .markdownlint.json
  CHANGELOG.md
  package.json
Due: prettier --list-different, npm run lint:docs

lint(schema): fix schemas for linting YAML
  .github/ISSUE_TEMPLATE/02_feature_request.yml
  .github/ISSUE_TEMPLATE/03_question.yml
  .github/ISSUE_TEMPLATE/04_documentation_issue.yml
  .github/ISSUE_TEMPLATE/config.yml
  .vscode/settings.json
Due: none

feat(versioning): add issues versioning sync in sync script
  scripts/python/requirements.txt
  scripts/python/update_versions_table.py
Due: none

fix(husky): add future-proof docs and fix of husky's problems
  .husky/.huskyrc
  .husky/README.md
  .husky/docs/common.md
  .husky/docs/h127.md
Due: prettier --list-different, npm run lint:docs

fix(dependencies)!: mass-solve dependency issues in package's tree
  package.json
Due: none

feat(linting): add feature to make .SH executable by hooks
  .husky/pre-commit
Due: none

chore: ensure shell scripts are executable
  kubernetes/deinstall.sh
  kubernetes/install.sh
  prepare.sh
  scripts/shell/publish-npm.sh
  scripts/shell/publish-nuget.sh
Due: none

fix(build): fix esbuild and stage errors with missing modules
  package.json
  prepare-template.js
Due: node scripts/lint.js --js --fix --only --, prettier --list-different, ts-node scripts/gen-filenames.ts

chore[lintstaged]: lint code
  prepare-template.d.ts
  prepare-template.ts
Due: prettier --list-different, eslint --fix, ts-node scripts/gen-filenames.ts

feat(build-deps)!: migrate eslint to latest versions
  eslint.config.mjs
  package.json
Due: none

fix(build-hooks): fix JS associated hooks in linting hook
  .lintstagedrc
  scripts/lib/utils.js
  scripts/lint.js
Due: node scripts/lint.js --js --fix --only --, prettier --list-different, ts-node scripts/gen-filenames.ts

fix(build-hooks): make chmod hook crossplatform
  .husky/pre-commit
  chmod-scripts.js
Due: node scripts/lint.js --js --fix --only --, prettier --list-different, ts-node scripts/gen-filenames.ts

feat(linters): integrate markdownlint with prettier
  .prettierrc
Due: none

chore(initial): integrate new prettier in lintstagedrc
  .lintstagedrc
  UNSUPPORTED_VERSIONS.md
Due: prettier --list-different, npm run lint:docs

chore(eslint): add environments to eslint config
  eslint.config.mjs
Due: none

fix(lint): attempt to fix BASH according to linter
  kubernetes/deinstall.sh
  kubernetes/install.sh
  prepare.sh
  scripts/shell/publish-nuget.sh
Due: none

fix(lint): attempt to fix BASH according to linter
  kubernetes/install.sh
Due: none

fix(lint): attempt to fix CHECKOV according to linter
  Dockerfile
  service.yaml
Due: none

fix(lint): attempt to fix CHECKOV according to linter
  .checkov.yaml
Due: none

Path conditions:
  node scripts/lint.js --js --fix --only --: any of: *.{js,jsx}
  prettier --list-different: ((any of: *.{js,jsx}) or (any of: *.{ts,tsx})) or (any of: *.md)
  eslint --fix: any of: *.{ts,tsx}
  ts-node scripts/gen-filenames.ts: any of: *.{js,ts,d.ts}
  npm run lint:docs: any of: *.md
  npm run gn-check: any of: *.{gn,gni}
  npm run gn-format: any of: *.{gn,gni}
  imagemin-lint-staged: any of: *.{png,jpeg,jpg,gif,svg}
  stylelint --fix: any of: *.css
  prettier --write: any of: *.css
  node scripts/lint.js --patches --only --: any of: {*.patch,.patches}
  ts-node scripts/js/check-patch-diff.ts: any of: {*.patch,.patches}
