Repository Falcion/PatternuGIT: changes, and which lint-staged commands are due for each by the changed paths.
All: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx prettier --write '*.{mts,ts,tsx}', npx eslint '*.{mts,ts,tsx}' --fix, npx ts-standard "*.{mts,ts,tsx}" --fix, npx prettier --write '**/*.d.ts', npx textlint *.md --fix, npx markdownlint-cli2 '!{CHANGELOG.md,node_modules/**,out/**}' '*.{md,mdown,markdown}' --fix, npm run gn-check, npm run gn-format, imagemin-lint-staged, stylelint --fix, prettier --write '*.css', node scripts/lint.js --patches --only --, ts-node scripts/js/check-patch-diff.ts, npx prettier '*.{yml,yaml}' --write, npx eslint '*.json' --fix

.lintstagedrc:

{
  "*.{mjs,js,jsx}": [
    "npx prettier --write '*.{mjs,js,jsx}'",
    "npx eslint '*.{mjs,js,jsx}' --fix",
    "node scripts/lint.js --js --fix --only --",
    "npx standard \"*.{mjs,js,jsx}\" --fix"
  ],
  "{!*.d.ts, *.{mts,ts,tsx}}": [
    "npx prettier --write '*.{mts,ts,tsx}'",
    "npx eslint '*.{mts,ts,tsx}' --fix",
    "npx ts-standard \"*.{mts,ts,tsx}\" --fix"
  ],
  "*.d.ts": ["npx prettier --write '**/*.d.ts'"],
  "{!CHANGELOG.md, *.md}": [
    "npx textlint *.md --fix",
    "npx markdownlint-cli2 '!{CHANGELOG.md,node_modules/**,out/**}' '*.{md,mdown,markdown}' --fix"
  ],
  "*.{gn,gni}": ["npm run gn-check", "npm run gn-format"],
  "*.{png,jpeg,jpg,gif,svg}": "imagemin-lint-staged",
  "*.css": ["stylelint --fix", "prettier --write '*.css'"],
  "{*.patch,.patches}": [
    "node scripts/lint.js --patches --only --",
    "ts-node scripts/js/check-patch-diff.ts"
  ],
  "*.{yml,yaml}": "npx prettier '*.{yml,yaml}' --write",
  "*.json": "npx eslint '*.json' --fix"
}

feat(docs): add instructions for migrating template
  build/README
  build/README.md
Due: none

chore(deps): fix issues within package-lock of project
  package-lock.json
Due: npx eslint '*.json' --fix

chore(deps-env): update multiple dependencies
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

build(deps-dev): bump editorconfig from 2.0.1 to 3.0.1
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

fix(versionrc): fix misspelling in perfomance and fix links
  .versionrc.json
Due: npx eslint '*.json' --fix

fix(hooks): reformat malformed commands in husky hooks, fix of #342
  .husky/commit-hook
  .husky/commit-msg
Due: none

feat(hooks): add commitlint cause upon pre-commit hook
  .husky/pre-commit
Due: none

fix(textlint)!: delete textlint-editorconfig rule
  .textlintrc.json
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

fix(docs): fix misspelling in pull request template, fix of #340
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix(dependabot): remove stale reviewers field, fix of #313
  .github/dependabot.yml
Due: npx prettier '*.{yml,yaml}' --write

fix(dependencies)!: fix dependencies tree in package, fix of #341
  package.json
Due: npx eslint '*.json' --fix

chore(copilot): merge copilot's fix
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

build(deps-env): update package dependencies
  index.js
  package-lock.json
  package.json
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx eslint '*.json' --fix

chore(release): 2.5.2
  CHANGELOG.md
  manifest.json
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

chore(release): 2.5.2
  .github/ISSUE_TEMPLATE/01_bug_report.yml
  CHANGELOG.md
  UNSUPPORTED_VERSIONS.md
Due: npx prettier '*.{yml,yaml}' --write

chore(release): 2.5.2 release notes
  release/changes/v2.5.2.md
Due: none

chore(docs): enable wikis through settings file for the project
  .github/settings.json
  .github/settings.yml
Due: npx prettier '*.{yml,yaml}' --write, npx eslint '*.json' --fix

ci(repo): force-sync labeler and settings bot
  .github/labeler.yml
  .github/settings.yml
Due: npx prettier '*.{yml,yaml}' --write

build(deps): migrate chai to new version, closes #364
  package-lock.json
Due: npx eslint '*.json' --fix

build(deps): migrate chai to new version, closes #364
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

build(deps-dev): bump chai from 5.2.1 to 6.0.1, fix of #373
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

build(deps-dev): bump tsx from 4.20.3 to 4.20.5, fix of #372
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

build(deps-dev): bump ts-loader from 9.5.2 to 9.5.4, fix of #371
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

build(deps-dev): bump textlint-rule-terminology from 5.2.14 to 5.2.15, fix of #370
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

build(deps-dev): bump @typescript-eslint/parser from 8.39.1 to 8.40.0, fix of #369
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

build(deps-dev): bump textlint from 15.2.1 to 15.2.2, fix of #368
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

build(deps-dev): bump @eslint/js from 9.33.0 to 9.34.0, fix of #367
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

build(deps-dev): bump @typescript-eslint/eslint-plugin from 8.39.1 to 8.40.0, fix of #366
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

ci(labels): add new maintenance label for repo
  .github/settings.yml
Due: npx prettier '*.{yml,yaml}' --write

build(deps-dev): bump @types/node from 24.3.0 to 24.3.1, closes #383
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

build(deps-dev): bump @typescript-eslint/parser from 8.41.0 to 8.42.0, closes #384
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

feat(ecrc)!: migrate editorconfig-checker to new version
  .ecrc
  .ecrc-comments
  .editorconfig-checker.json
  package-lock.json
  package.json
Due: npx eslint '*.json' --fix

ci(eslint)!: migrate to new version of ESLINT
  .eslintrc.cjs
  .eslintrc.json
  eslint.config.js
  package-lock.json
  package.json
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx eslint '*.json' --fix

ci(super-linter): remove redundant linter options
  .github/workflows/lint.yml
Due: npx prettier '*.{yml,yaml}' --write

feat(files): remove redundant files from project
  .lintstagedrc-python
  data/.labels-api.js
  data/.labels-import.js
  data/README.md
  prepare.bat
  prepare.sh
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

feat(files): migrate module-js files to default js files
  .lintstagedrc.js
  .mocha.js
  .mocha.mjs
  .mocharc.js
  .mocharc.mjs
  chmod-scripts.js
  esbuild.config.js
  prettier.config.js
  stylelint.config.js
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix

build(target): update es version in target for configs
  jsconfig.json
  tsconfig.json
Due: npx eslint '*.json' --fix

feat(files): advance external files from project to wiki
  .changeset/.gitignore
  .changeset/five-suns-buy.md
  .changeset/new-seals-tell.md
  .changeset/olive-elephants-play.md
  .github/keys/0x9F46C30D-pub.asc
  .github/keys/0xY0PX1FG1-pub.asc
  .github/keys/README
  REFERENCES.json
  REFERENCES.md
  images/.gitkeep
  images/diagram.svg
  scripts/shell/publish-npm.ps1
  scripts/shell/publish-npm.sh
  scripts/shell/publish-nuget.ps1
  scripts/shell/publish-nuget.sh
Due: imagemin-lint-staged, npx eslint '*.json' --fix

build(build-deps): migrate from colors/safe to chalk
  index.js
  index.ts
  package-lock.json
  package.json
Due: npx prettier --write '*.{mjs,js,jsx}', npx eslint '*.{mjs,js,jsx}' --fix, node scripts/lint.js --js --fix --only --, npx standard "*.{mjs,js,jsx}" --fix, npx eslint '*.json' --fix
